<div id="checkout-main">
    <h1 style="margin-left: 0px;">{{title}}</h1>
    <h2>Purchases</h2>
    <table class="inline">
        <th>Product</th>
        <th>Amount</th>
        <th>Total (AUD)</th>
        {{#each prods.products}}
            <tr>
                <td>{{this.Display}}</td>
                <td>x{{this.Count}}</td>
                <td>${{this.total}}</td>
            </tr>
        {{/each}}
        <tr>
            <td></td><td></td><td style="font-weight: bold;">${{prods.total}}</td>
        </tr>
    </table>
    <br>
    <form action="/admin/submit-login" id="login-form" method="post" class="inline">
    
        <!--
            Customer and contact
        -->
        <h2>Your contact information<div class="tooltip"><i class="fa fa-question-circle"></i>
            <span class="tooltiptext">This is used for billing and order tracking.</span>
        </div></h2>
        <input name="fname" placeholder="First Name" required><br>
        <input name="lname" placeholder="Last Name" required><br>
        <input name="email" type="email" placeholder="jane.doe@gmail.com" required><br>
        <input type="tel" name="phone" placeholder="0411 111 111" pattern="[0-9]{4} [0-9]{3} [0-9]{3}" required><br>

        <!-- 
            Card and shipping
        -->
        <h2>Billing information<div class="tooltip"><i class="fa fa-question-circle"></i>
            <span class="tooltiptext">This is the card your order will be billed from and the address your order will be sent to.</span>
        </div></h2>
        <h3>Card Number and CVC:</h3>
        <input name="cardnum" placeholder="1111 1111 1111 1111" required><br>
        <input name="cardnum" placeholder="333" required>

        <h3>Card expiration:</h3>
        <input type="number" id="cardmonth" name="cardmonth" placeholder="12" min="1" max="12">
        <input type="number" id="cardyear" name="cardyear" placeholder="2024" min="2020" max="2040"><br>

        <h3>Address:</h3>
        <input name="addrl1" placeholder="Address line 1" required><br>
        <input name="addrl2" placeholder="Address line 2" required><br>
        <input name="city" placeholder="City" required><br>
        <input name="postcode" placeholder="Postcode" required><br>
        <input name="state" placeholder="State" required><br><!-- change to dropdopwn -->

        <!-- 
            Invisible
        -->
        <input type="hidden" name="ip" id="ip">


        <input type="submit" id="submit" value="OK">
    </form>
</div>
